/* ALL */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #60606066!important;
}

/* BOOSTRAP OVERRIDE */
.text-primary {
    color: #485D95!important
}

.text-secondary {
    color: #D8D8D8!important
}

.bg-light {
    background-color: #F6F6F6!important;
}

.btn-secondary {
    background-color:#D7DBE0!important
}

.bg-danger {
    background-color: #C24E45!important;
}

/* CUSTOM */
.mm-header {
    background-image: url('./img/bg-header.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mm-button-menu {
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.mm-button-menu:focus {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.mm-card-player {
    background-color: #fff;
    margin-bottom: 35px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 12px 18px;
}

.mm-icon-play {
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.2));
}

.mm-mobile-menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.mm-options-menu {
    background-color: #fff;
    width: 80%;
    height: 100%;
    padding: 18px;
}

.mm-item-menu {
    padding: 12px 0;
}

.mm-item-menu-link {
    text-decoration: none;
    font-size: 2em;
    color: #485D95;
}

.mm-header-2 {
    font-size: 4em;
}

.mm-background-form {
    background-image: url('./img/bg-form.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mm-text-1 {
    color: #273D5F;
    font-size: 1.5em;
}

.mm-header-1 {
    font-size: 2.5em;
}

.mm-btn-submit {
    font-size: 1.6em;
    color: #606060;
}

.mm-header-3 {
    font-size: 4em;
    color: #273D5F;
}

.mm-header-4 {
    font-size: 3em;
    color: #D8D8D8;
}

.mm-text-2 {
    font-size: 1.5em;
}

.mm-image-diego {
    transform: translateY(35px);
}

.mm-btn-submit-ebook, .mm-btn-submit-post {
    background:  linear-gradient(to right, #d16e45 0%, #c24238 11%, #ba3537 23%, #b03a53 37%, #825099 59%, #685497 69%, #405795 88%, #213a5f 100%)!important;
}

.mm-header-ebook {
    font-size: 2em;
}

.mm-text-ebook {
    font-size: 1.5em;
}